# 1.7.10 Access Transformer
# PlayerControllerMP
public net.minecraft.client.multiplayer.PlayerControllerMP func_78750_j()V # syncCurrentPlayItem
public net.minecraft.client.multiplayer.PlayerControllerMP field_78770_f # curBlockDamageMP
public net.minecraft.client.multiplayer.PlayerControllerMP field_78774_b # netClientHandler

# EntityRenderer
public net.minecraft.client.renderer.EntityRenderer func_78481_a(F)F # getFOVModifier
public net.minecraft.client.renderer.EntityRenderer field_78530_s # farPlaneDistance

# KeyBinding
public net.minecraft.client.settings.KeyBinding field_74512_d # pressTime
public net.minecraft.client.settings.KeyBinding field_74516_a # keybindArray

# GuiNewChat
public net.minecraft.client.gui.GuiNewChat field_146252_h # chatLines
